html, body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(./images/stars.jpg);
    background-color: #9d2de3;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1 {
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

address {
    font-size: 24px;
}

#navbar{
    display: flex;
    justify-content: space-evenly;
}

#navbar a{
    color: white;
}

.headshot {
    border-radius: 50%;
    width: 140px;
    height: 140px; 
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#container {
    width: 40%;
    margin: 5px;
}

img {
    padding: 10px;
    width: 90%;
    height: 80%
}

footer {
    height: 50px;
    width: 100%;
    background-color: #9d2de3;
    color: white;
    text-align: center;

}

footer a:visited{
    color: white;
}
